In [1]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

In [2]:
cov_url="http://covid19.ap.gov.in/covid19/" 
print(cov_url)

http://covid19.ap.gov.in/covid19/

In [3]:
response=requests.get(cov_url)

In [4]:
response

In [5]:
response.status_code

200

In [6]:
soup=BeautifulSoup(response.content,'lxml')

In [7]:
right_table=soup.find('table',{'class':'tab-pane-active'})

In [8]:
table=soup.find('table')

In [9]:
rows=table.find_all('td')

In [10]:
header=[]
for row in table.find_all('th'): 
    header.append(row.text.rstrip())

In [11]:
header

['S.no',
 'District Name',
 'Positive cases',
 'Cured Cases',
 'Death',
 'Sample Collected',
 'Test In-Progress',
 'Pending Sample']

In [12]:
vertical=[]
for row in rows: 
    vertical.append(row.text.rstrip())

In [13]:
c=0
k=8 
cell1=[]
cell2=[]
cell3=[]
cell4=[]
cell5=[]
cell6=[]
cell7=[]
cell8=[]

for i in range(0,14):
    f=vertical[c:k] 
    c=k
    k=k+8 
    for i in range(0,1):
        cell1.append(f[0]) 
        cell2.append(f[1]) 
        cell3.append(f[2])  
        cell4.append(f[3]) 
        cell5.append(f[4]) 
        cell6.append(f[5]) 
        cell7.append(f[6]) 
        cell8.append(f[7])

In [14]:
covid_19_ap=pd.DataFrame({'S.no':cell1,
                          'District Name':cell2,
                          'Positive cases':cell3,
                           'Cured Cases':cell4,
                          'Death':cell5,
                          'Sample Collected':cell6,
                           'Test In-Progress':cell7,
                           'Pending Sample':cell8})

In [15]:
covid_19_ap

,S.no,District Name,Positive cases,Cured Cases,Death,Sample Collected,Test In-Progress,Pending Sample
0,1,Chittoor,58,40,0,5769,2393,3376
1,2,Anantapur,42,125,2,2925,890,2035
2,4,Nellore,64,148,0,5078,2283,2795
3,5,Kurnool,195,24,1,5292,2244,3048
4,6,East Godavari,27,323,0,5833,1502,4331
5,7,Krishna,76,77,1,4795,2281,2514
6,8,Kadapa,49,493,0,4599,2142,2457
7,9,Visakhapatnam,19,289,1,6241,846,5395
8,10,Prakasam,44,22,0,2596,971,1625
9,11,Guntur,158,48,0,4087,1871,2216
10,12,Vizianagaram,0,20,0,1850,377,1473
11,13,West Godavari,39,31,0,5573,2792,2781
12,14,Srikakulam,0,178,0,3361,785,2576
13,--,Total,771,1818,5,58004,21382,36622