In [27]:
import pandas as pd 
import numpy as np

In [28]:
df=pd.read_html("https://coronaclusters.in/Karnataka")

In [20]:
df[0].drop("Last Updated",axis=1,inplace=True)

In [26]:
df

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Bengaluru Urban,349,0,7,0,102,240
1,Kalaburagi,194,0,6,0,57,131
2,Kodagu,2,0,0,0,1,1
3,Chikkaballapura,106,0,1,0,13,92
4,Mysuru,142,0,0,0,61,81
5,Dharwad,46,0,0,0,9,37
6,Uttara Kannada,70,0,0,0,6,64
7,Other State,28,0,1,0,13,14
8,Udupi,54,0,1,0,0,53
9,Chitradurga,11,0,0,0,1,10
10,Dakshina Kannada,72,0,5,0,11,56
11,Tumakuru,29,0,2,0,4,23
12,Davanagere,149,0,4,0,28,117
13,Ballari,42,0,1,0,8,33
14,Bidar,94,0,2,0,13,79
15,Bagalkote,118,0,1,0,41,76
16,Belagavi,180,0,1,0,53,126
17,Bengaluru Rural,12,0,0,0,1,11
18,Gadag,39,0,1,0,4,34
19,Mandya,259,0,0,0,22,237
20,Vijayapura,111,0,3,0,41,67
21,Haveri,6,0,0,0,0,6
22,Shivamogga,34,0,0,0,0,34
23,Yadgir,86,0,0,0,0,86
24,Hassan,85,0,0,0,0,85
25,Kolar,14,0,0,0,0,14
26,Raichur,66,0,0,0,0,66
27,Koppal,3,0,0,0,0,3
28,Chikkamagaluru,10,0,0,0,0,10